<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="deCaminho" value="D:\Creator" />
    <add key="nmSistema" value="Smoogy" />
    <add key="dePrefixoTabela" value="t" />

  </appSettings>

  <connectionStrings>
    <add name="SQLConnection" connectionString="server=ALEX-WORK\SQLEXPRESS;database=SmoogyDin;User Id=smgdin;Password=smg_2013" providerName="System.Data.SqlClient"/>
    <!--<add name="SQLConnection" connectionString="server=ALEX-WORK\SQLEXPRESS;database=OwlSchool;User Id=owluser;Password=owl2013" providerName="System.Data.SqlClient"/>-->
    <!--<add name="SQLConnection" connectionString="server=ALEX-WORK\SQLEXPRESS;database=MStarBuster;User Id=mstar;Password=123456" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <authorization>
      <allow users="*" roles="read;write" />
    </authorization>
    <compilation defaultLanguage="c#" targetFramework="4.0" />
  </system.web>
</configuration>
