vti_encoding:SR|utf8-nl
vti_casesensitiveurls:IX|0
vti_textextensions:SX|.txt.abdata.asm.c.cc.cd.cod.collection.cpp.cs.csdproj.csproj.cur.cxx.data.dbproj.def.dsp.dsw.h.hpp.hxx.i.idl.inc.inl.ipproj.jsx.lst.mak.map.mdp.mk.odh.odl.pkgdef.pkgundef.rc.rc2.rct.rgs.s.sln.sol.sor.srf.tlh.tli.txt.user.vb.vbdproj.vbproj.vddproj.vdp.vdproj.vspscc.vsscc.vssscc.workspace.XOML.
vti_featurelist:VX|vti_ACIPAddresses vti_ACCreateNewUsers vti_ACChangePassword vti_ACNoUserGroup vti_ACCreateNewGroups vti_ACModifyGroups vti_ServerEmailTransport vti_ServerIndexServer
vti_webservertype:SR|msiis
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_htmlextensions:SX|.htm.html.shtml.stm.html.htm.shtm.htt.htx.asp.alx.asa.
vti_approvallevels:VR|Content\\ Review Legal\\ Review Code\\ Review Manager\\ Review
vti_timecreated:TR|27 Sep 2013 02:18:24 -0000
vti_extenderversion:SR|4.0.2.5322
vti_longfilenames:IX|1
vti_welcomenames:VX|Default.aspx Default.asp Default.htm index.htm iisstart.asp
vti_insecureserverurl:SR|http://ALEX-WORK
vti_secureserverurl:SR|https://ALEX-WORK
vti_disableautoimgsizeexts:SX|.asp
vti_oldestcompatibleversion:SR|2.0.0.0
vti_restartmanual:IX|0
vti_title:SW|Creator
